<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org">

<div th:replace="./common/header.html"></div>

<body id="reportsPage">
<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-12">
               <div th:replace="./common/navigation-bar.html"></div>
            </div>
        </div>

        <div class="container mt-lg-5 border-right border-bottom bg-transparent h-100">
                <h1 class="w-100 text-light text-right">Welcome</h1>
        </div>
        <footer class="row">
            <div class="col-12 container-fluid text-right font-weight-light">
                <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                    &copy; Spring Team 2020
                </p>
            </div>
        </footer>
    </div>
</div>

</body>
</html>